---
import Container from "./Container.astro"
import Whatsapp from "./Whatsapp.jsx"

---

//

<div class="relative py-16">
  <div aria-hidden="true" class="absolute inset-0 h-max w-full m-auto grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
    <div class="blur-[106px] h-56 bg-gradient-to-b from-teal-300 to-indigo-500"></div>

    <div class="blur-[106px] h-32 bg-gradient-to-b from-teal-300 to-lime-500"></div>
    <!-- <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div> -->
  </div>
  <Container>
    <div class="relative">
      <div class="flex items-center justify-center -space-x-2">
        <img
          loading="lazy"
          width="400"
          height="400"
          src="./images/avatars/profilep7.jpg"
          alt="member photo"
          class="h-8 w-8 rounded-full object-cover"
        />
        <img
          loading="lazy"
          width="200"
          height="200"
          src="./images/avatars/profilep8.jpg"
          alt="member photo"
          class="h-12 w-12 rounded-full object-cover"
        />
        <img
          loading="lazy"
          width="200"
          height="200"
          src="./images/avatars/profilep9.jpg"
          alt="member photo"
          class="z-10 h-16 w-16 rounded-full object-cover"
        />
        <img
          loading="lazy"
          width="200"
          height="200"
          src="./images/avatars/profilep10.jpg"
          alt="member photo"
          class="relative h-12 w-12 rounded-full object-cover"
        />
        <img
          loading="lazy"
          width="200"
          height="200"
          src="./images/avatars/profilep5.jpg"
          alt="member photo"
          class="h-8 w-8 rounded-full object-cover"
        />
      </div>
      <div class="mt-6 m-auto space-y-6 md:w-8/12 lg:w-7/12">
        <h1 class="text-center text-4xl font-bold text-gray-800 dark:text-white md:text-5xl">¿Que estas esperando?</h1>
        <p class="text-center text-xl text-gray-600 dark:text-gray-300">
          Se parte de los millones de usuarios que elijen a Lorem Tech.
        </p>
        <div class="flex flex-wrap justify-center gap-6">
          
          <div
              class="relative flex h-12 w-50 items-center justify-center px-8 bg-emerald-700 rounded-full border cursor-pointer"
            >
              <Whatsapp />
              <span class="relative text-base font-semibold text-white dark:text-dark ml-2"
                >Contactanos</span
              >
        </div>
        </div>
      </div>
    </div>
  </Container>
</div>