---
import Container from "./Container.astro";

---

<div id="solution">
    <Container>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-sky-500">
        <path fill-rule="evenodd" d="M2.25 13.5a8.25 8.25 0 018.25-8.25.75.75 0 01.75.75v6.75H18a.75.75 0 01.75.75 8.25 8.25 0 01-16.5 0z" clip-rule="evenodd" />
        <path fill-rule="evenodd" d="M12.75 3a.75.75 0 01.75-.75 8.25 8.25 0 018.25 8.25.75.75 0 01-.75.75h-7.5a.75.75 0 01-.75-.75V3z" clip-rule="evenodd" />
      </svg>
      
      <div class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
        <div class="md:5/12 lg:w-1/2">
          <img
            src="https://www.svgrepo.com/show/499815/network-server.svg"
            alt="image"
            loading="lazy"
            width="50%"
            height=""
            class="w-full"
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2 class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-white">
            Nuestro personal está preparado para ayudarte.
          </h2>
          <p class="my-8 text-gray-600 dark:text-gray-300">
            Lorem tech cuenta con profesionales de primera calidad para solventar todas tus dudas sobre nuestros productos. <br> <br> Puedes contactarte nosotros con un solo click. No necesitas moverte de este página. La simpleza y la accesibilidad al servicio de nuestros clientes.    </p>
          <div class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800">
            <div class="mt-8 flex gap-4 md:items-center">
              <div class="w-12 h-12 flex gap-4 rounded-full bg-indigo-100 dark:bg-indigo-900/20">
                <svg class="w-6 h-6 m-auto cursor-pointer text-indigo-500 dark:text-indigo-400" fill="#000000" width="800px" height="800px" viewBox="0 0 24 24" id="chat-4" data-name="Flat Color" xmlns="http://www.w3.org/2000/svg" class="icon flat-color"><path id="primary" d="M20,3H8A2,2,0,0,0,6,5V15a2,2,0,0,0,2,2h2v2a1,1,0,0,0,.51.87A1,1,0,0,0,11,20a1,1,0,0,0,.51-.14L16.28,17H20a2,2,0,0,0,2-2V5A2,2,0,0,0,20,3Z" style="fill: rgb(0, 0, 0);"></path><path id="secondary" d="M8,20a1,1,0,0,1-1,1H4a2,2,0,0,1-2-2V8A1,1,0,0,1,4,8V19H7A1,1,0,0,1,8,20ZM10,9h8a1,1,0,0,0,0-2H10a1,1,0,0,0,0,2Zm8,2H10a1,1,0,0,0,0,2h8a1,1,0,0,0,0-2Z" style="fill: rgb(44, 169, 188);"></path></svg>      
              </div>
              <div class="w-5/6">
                <h4 class="font-semibold text-lg text-gray-700 dark:text-indigo-300">Contactanos ya</h4>
                <p class="text-gray-500 dark:text-gray-400">Nuestros empleados estan dispuestos a ayudarte las 24 horas del día.</p>
              </div> 
            </div> 
            <div class="pt-4 flex gap-4 md:items-center">
              <div class="w-12 h-12 flex gap-4 rounded-full bg-teal-100 dark:bg-teal-900/20">  
                <svg class="w-6 h-6 m-auto cursor-pointer text-indigo-500 dark:text-indigo-400" width="800px" height="800px" viewBox="-1.5 0 31 31" xmlns="http://www.w3.org/2000/svg">
                  <g id="location_2" transform="translate(-498 -186)">
                    <path id="Path_32" data-name="Path 32" d="M525,209V194h-5" fill="none" stroke="#498efc" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                    <path id="Path_33" data-name="Path 33" d="M504,194h-5v22h19" fill="none" stroke="#498efc" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                    <path id="Path_34" data-name="Path 34" d="M505.416,199.43" fill="none" stroke="#498efc" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                    <path id="Path_35" data-name="Path 35" d="M520,195a8,8,0,0,0-16,0c0,7,8,13,8,13S520,202,520,195Z" fill="none" stroke="#498efc" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                    <circle id="Ellipse_8" data-name="Ellipse 8" cx="3" cy="3" r="3" transform="translate(509 192)" fill="none" stroke="#f1d17c" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                    <path id="Path_36" data-name="Path 36" d="M525,209h-7v7Z" fill="none" stroke="#498efc" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                  </g>
                </svg>                                   
              </div>
              <div class="w-5/6">
                <h4 class="font-semibold text-lg text-gray-700 dark:text-teal-300">Disponibles desde cualquier lugar</h4>
                <p class="text-gray-500 dark:text-gray-400">No importa desde donde estes, podemos ayudarte igual.</p>
              </div> 
            </div> 
          </div>
        </div>
      </div>
    </Container>
</div>